body {
    background-color: lightgray;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

a {
    font-weight: bold;
    font-size: 14px;
    color: red;
}

h1 {
    text-align: center;
}
